/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_agriculture";
    src: url("flaticon_agricultureb1f1.woff2?593e8c8fd7387e7c7f3e8c0e87ecc497") format("woff2"),
url("flaticon_agricultureb1f1.html?593e8c8fd7387e7c7f3e8c0e87ecc497") format("woff"),
url("flaticon_agricultureb1f1-2.html?593e8c8fd7387e7c7f3e8c0e87ecc497#iefix") format("embedded-opentype"),
url("flaticon_agricultureb1f1-3.html?593e8c8fd7387e7c7f3e8c0e87ecc497") format("truetype"),
url("flaticon_agricultureb1f1-4.html?593e8c8fd7387e7c7f3e8c0e87ecc497#flaticon_agriculture") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_agriculture !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-twitter:before {
    content: "\f101";
}
.flaticon-shopping-bag:before {
    content: "\f102";
}
.flaticon-next:before {
    content: "\f103";
}
.flaticon-facebook-app-symbol:before {
    content: "\f104";
}
.flaticon-linkedin-big-logo:before {
    content: "\f105";
}
.flaticon-instagram:before {
    content: "\f106";
}
.flaticon-back:before {
    content: "\f107";
}
.flaticon-phone-call:before {
    content: "\f108";
}
.flaticon-mail:before {
    content: "\f109";
}
.flaticon-location:before {
    content: "\f10a";
}
.flaticon-planting:before {
    content: "\f10b";
}
.flaticon-sprout:before {
    content: "\f10c";
}
.flaticon-planting-1:before {
    content: "\f10d";
}
.flaticon-shovel:before {
    content: "\f10e";
}
.flaticon-tractor:before {
    content: "\f10f";
}
.flaticon-field:before {
    content: "\f110";
}
.flaticon-precision-agriculture:before {
    content: "\f111";
}
.flaticon-corn:before {
    content: "\f112";
}
.flaticon-gardener:before {
    content: "\f113";
}
.flaticon-tractor-1:before {
    content: "\f114";
}
.flaticon-harvest:before {
    content: "\f115";
}
.flaticon-land:before {
    content: "\f116";
}
.flaticon-gardening-tools:before {
    content: "\f117";
}
.flaticon-crops:before {
    content: "\f118";
}
.flaticon-herbicide:before {
    content: "\f119";
}
.flaticon-ecologist:before {
    content: "\f11a";
}
.flaticon-agriculture:before {
    content: "\f11b";
}
.flaticon-irrigation:before {
    content: "\f11c";
}
.flaticon-gardening:before {
    content: "\f11d";
}
.flaticon-solar-panel:before {
    content: "\f11e";
}
.flaticon-agriculture-1:before {
    content: "\f11f";
}
.flaticon-chemical:before {
    content: "\f120";
}
.flaticon-poultry:before {
    content: "\f121";
}
.flaticon-farming:before {
    content: "\f122";
}
.flaticon-watering-can:before {
    content: "\f123";
}
.flaticon-tractor-2:before {
    content: "\f124";
}
.flaticon-gardening-1:before {
    content: "\f125";
}
.flaticon-product:before {
    content: "\f126";
}
.flaticon-wheat:before {
    content: "\f127";
}
.flaticon-tractor-3:before {
    content: "\f128";
}
.flaticon-peasant:before {
    content: "\f129";
}
.flaticon-return-of-investment:before {
    content: "\f12a";
}
.flaticon-delivery-truck:before {
    content: "\f12b";
}
.flaticon-online-support:before {
    content: "\f12c";
}
.flaticon-offer:before {
    content: "\f12d";
}

