{% extends 'base.html' %}
{% load static %}
{% block title %}Innovative Agricultural Practices - Noma | Modern Farming Solutions{% endblock %}

{% block seo_description %}Learn about Noma's innovative agricultural practices including semi-mechanized farming,
precision agriculture, and sustainable crop cultivation methods.{% endblock %}

{% block seo_keywords %}innovative agriculture, modern farming Nigeria, agricultural technology, precision farming,
sustainable practices, semi-mechanized farming{% endblock %}

{% block content %}

<br>

<section class="blog" id="how-we-drive-transformation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pq-section-title text-center wow fadeInUp">
                    <div class="pq-title">
                        <div class="pq-title-sub-title justify-content-center">
                            <img src="{% static 'image/section-image/group_1727.png' %}" alt="image">
                        </div>
                        <h5 class="pq-title-hadding">Innovative Agricultural Practices</h5>
                    </div>
                </div>
            </div>
        </div>

        {% for iap in iap_items %}
        <div class="row">
            <div class="pq-hover-active wow fadeInUp">
                <div class="col-lg-12">
                    <div
                        class="pq-blog-post pq-list pq-style-1 pq-hover-item {% if forloop.first %}pq-active{% endif %}">
                        {% if iap.image %}
                        <div class="pq-post-media">
                            <img src="{{ iap.image.url }}" alt="{{ iap.name }}" class="img-fluid" />
                        </div>
                        {% endif %}

                        <div class="pq-post-meta">
                            <div class="pq-post-date">
                                <a href="#">
                                    <span class='pq-post-blk'>
                                        {{ forloop.counter|stringformat:"02d" }}
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="pq-blog-contain">
                            <h5 class="pq-blog-title"><a href="#">{{ iap.name }}</a></h5>
                            {% if iap.description %}
                            <p class="pq-blog-description mt-2">{{ iap.description }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center mt-4">No agricultural practices have been added yet.</p>
        {% endfor %}
    </div>
</section>

{% endblock content %}