{% extends 'base.html' %}
{% load static %}
{% block title%}Noma - Produce Marketing Company | Empowering Nigerian Farmers{% endblock title %}

{% block seo_description %}Noma empowers smallholder farmers in Nigeria through innovative agricultural practices,
mechanized solutions, and direct market access. Transforming Nigerian agriculture since 2023.{% endblock %}

{% block seo_keywords %}Noma Nigeria, agricultural empowerment, smallholder farmers, pay with output model, Nigerian
agribusiness, sustainable farming Nigeria, mechanization, fertilizer, extension services{% endblock %}

{% block content %}

<div class="banner py-0">
    <!-- START Home 3 REVOLUTION SLIDER 6.6.18 -->
    <p class="rs-p-wp-fix"></p>
    <rs-module-wrap id="rev_slider_11_1_wrapper" data-alias="home-2-1" data-source="gallery"
        style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
        <rs-module id="rev_slider_11_1" data-version="6.6.18">
            <rs-slides style="overflow: hidden; position: absolute;">
                <rs-slide style="position: absolute;" data-key="rs-43" data-title="Slide"
                    data-thumb="{% static 'image/noma/background1.jpg' %}" data-anim="ms:600;" data-in="o:0;"
                    data-out="a:false;">
                    <img src="{% static 'image/noma/WhatsApp Image 2025-08-26 at 09.47.17_9b489cbe.jpg' %}" alt=""
                        title="1 (2)" width="1920" height="1056" class="rev-slidebg tp-rs-img" data-no-retina>
                    <!----><rs-layer id="slider-11-slide-43-layer-1" data-type="text" data-rsp_ch="on"
                        data-xy="x:l,l,c,c;xo:30px,15px,0,0;y:m,m,m,b;yo:-20px,-20px,80px,210px;"
                        data-text="w:normal;s:64,52,52,40;l:72,60,60,48;fw:500;a:left,left,center,center;"
                        data-frame_0="x:50,39,29,17;" data-frame_1="st:1300;sp:1000;sR:1300;"
                        data-frame_999="o:0;st:w;sR:6700;"
                        style="z-index:6;font-family:'ClashDisplay';text-transform:capitalize;">
                        <span class="rc-color">Vision</span><br />
                    </rs-layer><!----><a id="slider-11-slide-43-layer-2" class="rs-layer rev-btn" data-type="button"
                        href="{% url 'about_us' %}#join-the-family" target="_self"
                        data-xy="x:l,l,c,c;xo:30px,15px,0,0;y:m,m,m,b;yo:220px,200px,210px,120px;"
                        data-text="w:normal;s:18,18,18,16;l:32;a:center;" data-dim="minh:0px,none,none,none;"
                        data-rsp_bd="off" data-padding="t:12,12,12,10;r:30;b:12,12,12,10;l:30;"
                        data-border="bor:500px,500px,500px,500px;" data-frame_0="x:50,39,29,17;"
                        data-frame_1="st:1700;sp:1000;sR:1700;" data-frame_999="o:0;st:w;sR:6300;"
                        data-frame_hover="c:#1c2e16;bgc:#fff;bor:500px,500px,500px,500px;bri:120%;"
                        style="z-index:7;background-color:#d4a65e;font-family:'ClashDisplay';text-transform:uppercase;">
                        Join Us
                    </a><!----><rs-layer id="slider-11-slide-43-layer-5" data-type="text" data-rsp_ch="on"
                        data-xy="x:l,l,c,c;xo:30px,15px,0,0;y:m,m,t,t;yo:110px,90px,310px,300px;"
                        data-text="w:normal;s:18,18,0,0;l:32,32,0,0;a:left,left,center,center;"
                        data-dim="w:641px,637px,663px,441px;" data-vbility="t,t,f,f" data-frame_0="x:50,39,29,17;"
                        data-frame_1="st:1490;sp:1000;sR:1490;" data-frame_999="o:0;st:w;sR:6510;"
                        style="z-index:10;font-family:'ClashDisplay';">To become a leading agribusiness enterprise in
                        Nigeria for all stakeholders, driving
                        sustainable agricultural development, food security, and profitability.
                    </rs-layer><!----><rs-layer id="slider-11-slide-43-layer-9" data-type="image" data-rsp_ch="on"
                        data-xy="x:l,l,c,l;xo:30px,15px,-87px,140px;y:m,m,b,b;yo:-120px,-100px,357px,330px;"
                        data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
                        data-dim="w:33px,33px,32px,30px;h:18px,18px,auto,16px;" data-frame_0="x:50,39,29,17;"
                        data-frame_1="st:1000;sp:1000;sR:1000;" data-frame_999="o:0;st:w;sR:7000;"
                        style="z-index:15;"><img src="{% static 'rev/assets/page-3/group_1727.png' %}" alt=""
                            class="tp-rs-img" width="135" height="73" data-no-retina>
                    </rs-layer><!---->
                </rs-slide>
                <rs-slide style="position: absolute;" data-key="rs-46" data-title="Slide" data-anim="ms:600;"
                    data-in="o:0;" data-out="a:false;">
                    <img src="{% static 'image/noma/noma 5.jpg' %}" alt="" title="2" width="1920" height="1056"
                        class="rev-slidebg tp-rs-img" data-no-retina>
                    <!----><rs-layer id="slider-11-slide-46-layer-1" data-type="text" data-rsp_ch="on"
                        data-xy="x:l,l,c,c;xo:30px,15px,0,0;y:m,m,m,b;yo:-20px,-20px,80px,210px;"
                        data-text="w:normal;s:64,52,52,40;l:72,60,60,48;fw:500;a:left,left,center,center;"
                        data-dim="w:852px,729px,691px,458px;" data-frame_0="x:50,39,29,17;"
                        data-frame_1="st:1300;sp:1000;sR:1300;" data-frame_999="o:0;st:w;sR:6700;"
                        style="z-index:6;font-family:'ClashDisplay';text-transform:capitalize;">
                        <span class="rc-color">Mission</span>
                    </rs-layer><!----><a id="slider-11-slide-43-layer-2" class="rs-layer rev-btn" data-type="button"
                        href="{% url 'about_us' %}#join-the-family" target="_self"
                        data-xy="x:l,l,c,c;xo:30px,15px,0,0;y:m,m,m,b;yo:220px,200px,210px,120px;"
                        data-text="w:normal;s:18,18,18,16;l:32;a:center;" data-dim="minh:0px,none,none,none;"
                        data-rsp_bd="off" data-padding="t:12,12,12,10;r:30;b:12,12,12,10;l:30;"
                        data-border="bor:500px,500px,500px,500px;" data-frame_0="x:50,39,29,17;"
                        data-frame_1="st:1700;sp:1000;sR:1700;" data-frame_999="o:0;st:w;sR:6300;"
                        data-frame_hover="c:#1c2e16;bgc:#fff;bor:500px,500px,500px,500px;bri:120%;"
                        style="z-index:7;background-color:#d4a65e;font-family:'ClashDisplay';text-transform:uppercase;">
                        Join Us
                    </a><!----><rs-layer id="slider-11-slide-46-layer-5" data-type="text" data-rsp_ch="on"
                        data-xy="x:l,l,c,c;xo:30px,15px,0,0;y:m,m,t,t;yo:110px,90px,310px,300px;"
                        data-text="w:normal;s:18,18,0,0;l:32,32,0,0;a:left,left,center,center;"
                        data-dim="w:641px,637px,663px,441px;" data-vbility="t,t,f,f" data-frame_0="x:50,39,29,17;"
                        data-frame_1="st:1490;sp:1000;sR:1490;" data-frame_999="o:0;st:w;sR:6510;"
                        style="z-index:10;font-family:'ClashDisplay';">To empower smallholder farmers through structured
                        outgrower schemes,
                        optimize direct farming operations, and expand production for year-
                        round high-value crop cultivation.
                    </rs-layer><!----><rs-layer id="slider-11-slide-46-layer-9" data-type="image" data-rsp_ch="on"
                        data-xy="x:l,l,c,l;xo:30px,15px,-87px,140px;y:m,m,b,b;yo:-120px,-100px,357px,330px;"
                        data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
                        data-dim="w:33px,33px,32px,30px;h:18px,18px,auto,16px;" data-frame_0="x:50,39,29,17;"
                        data-frame_1="st:1000;sp:1000;sR:1000;" data-frame_999="o:0;st:w;sR:7000;"
                        style="z-index:15;"><img src="{% static 'rev/assets/page-3/group_1727.png' %}" class="tp-rs-img"
                            width="135" height="73" data-no-retina>
                    </rs-layer><!---->
                </rs-slide>
                <rs-slide style="position: absolute;" data-key="rs-47" data-title="Slide"
                    data-thumb="image/noma/background2.jpg" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">

                    <!-- Background Image - MAKE SURE THIS IMAGE EXISTS -->
                    <img src="{% static 'image/noma/noma 8.jpg' %}" alt="" title="3" width="1920" height="1056"
                        class="rev-slidebg tp-rs-img" data-no-retina>

                    <!-- Main Title Layer -->
                    <rs-layer id="slider-11-slide-47-layer-1" data-type="text" data-rsp_ch="on"
                        data-xy="x:l,l,c,c;xo:30px,15px,0,0;y:m,m,m,b;yo:-20px,-20px,80px,210px;"
                        data-text="w:normal;s:64,52,52,40;l:72,60,60,48;fw:500;a:left,left,center,center;"
                        data-frame_0="x:50,39,29,17;" data-frame_1="st:1300;sp:1000;sR:1300;"
                        data-frame_999="o:0;st:w;sR:6700;"
                        style="z-index:6;font-family:'ClashDisplay';text-transform:capitalize;">
                        <span class="rc-color">Values</span><br />
                    </rs-layer>

                    <!-- Button Layer -->
                    <a id="slider-11-slide-47-layer-2" class="rs-layer rev-btn" data-type="button"
                        href="{% url 'about_us' %}#join-the-family" target="_self"
                        data-xy="x:l,l,c,c;xo:30px,15px,0,0;y:m,m,m,b;yo:220px,200px,210px,120px;"
                        data-text="w:normal;s:18,18,18,16;l:32;a:center;" data-dim="minh:0px,none,none,none;"
                        data-rsp_bd="off" data-padding="t:12,12,12,10;r:30;b:12,12,12,10;l:30;"
                        data-border="bor:500px,500px,500px,500px;" data-frame_0="x:50,39,29,17;"
                        data-frame_1="st:1700;sp:1000;sR:1700;" data-frame_999="o:0;st:w;sR:6300;"
                        data-frame_hover="c:#1c2e16;bgc:#fff;bor:500px,500px,500px,500px;bri:120%;"
                        style="z-index:7;background-color:#d4a65e;font-family:'ClashDisplay';text-transform:uppercase;">
                        Join Us
                    </a>

                    <!-- Description Text Layer -->
                    <rs-layer id="slider-11-slide-47-layer-5" data-type="text" data-rsp_ch="on"
                        data-xy="x:l,l,c,c;xo:30px,15px,0,0;y:m,m,t,t;yo:110px,90px,310px,300px;"
                        data-text="w:normal;s:18,18,0,0;l:32,32,0,0;a:left,left,center,center;"
                        data-dim="w:641px,637px,663px,441px;" data-vbility="t,t,f,f" data-frame_0="x:50,39,29,17;"
                        data-frame_1="st:1490;sp:1000;sR:1490;" data-frame_999="o:0;st:w;sR:6510;"
                        style="z-index:10;font-family:'ClashDisplay';">
                        Integrity, Innovation, Sustainability, and Community Partnership -
                        the core values that guide our agricultural excellence and commitment
                        to transforming Nigeria's farming landscape.
                    </rs-layer>

                    <!-- Icon/Logo Layer -->
                    <rs-layer id="slider-11-slide-47-layer-9" data-type="image" data-rsp_ch="on"
                        data-xy="x:l,l,c,l;xo:30px,15px,-87px,140px;y:m,m,b,b;yo:-120px,-100px,357px,330px;"
                        data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
                        data-dim="w:33px,33px,32px,30px;h:18px,18px,auto,16px;" data-frame_0="x:50,39,29,17;"
                        data-frame_1="st:1000;sp:1000;sR:1000;" data-frame_999="o:0;st:w;sR:7000;" style="z-index:15;">
                        <img src="{% static 'rev/assets/page-3/group_1727.png' %}" alt="" class="tp-rs-img" width="135"
                            height="73" data-no-retina>
                    </rs-layer>
                </rs-slide>
            </rs-slides>
        </rs-module>
</div>

<!-- About us -->
<section class="our-about overflow-hidden">
    <div class="container">
        <div class="row flex-column-reverse flex-xl-row">
            <div class="col-xl-6 pe-xl-4 mt-5 mt-xl-0 wow fadeInUp">
                <div class="pq-about-media">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="pq-image-border pq-ms-15">
                                <img class="pq-image-1" src="{% static 'image/noma/IMG-20250619-WA0036.jpg' %}"
                                    alt="about-image">
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <img class="pq-image-2" src="{% static 'image/noma/IMG-20250619-WA0016.jpg' %}"
                                alt="about-image">
                        </div>
                    </div>
                </div>
            </div>

            <img class="pq-1-bg-image" src="{% static 'image/service/services-bottom-image.png' %}" alt="service-image">
            <div class="col-xl-6 ps-xl-5 wow fadeInRight">
                <div class="pq-section-title pe-lg-5 mb-0">
                    <div class="pq-title">
                        <div class="pq-title-sub-title">
                            <img src="{% static 'image/section-image/group_1727.png' %}" alt="image">
                            <span>Noma</span>
                        </div>
                        <p class="pq-title-description">
                            Established in 2023, Noma addresses key challenges faced by Nigerian smallholder farmers
                            (SHF), including the use of poor-quality inputs, limited access to finance, and outdated
                            farming practices. Through its innovative "pay-with-output" model, NOMA equips farmers with
                            improved seeds,
                            fertilizers, herbicides, optimized land use, and mechanized equipment—without requiring any
                            upfront investment. We also offer affordable mechanized solutions for every stage of the
                            farming process, including land preparation, planting, harvesting, and marketing as well as
                            backyard
                            and greenhouse farming, while promoting digital platforms that directly connect farmers to
                            offtakers at premium prices. Our solutions aim to reduce losses, simplify labor, save time,
                            increase yields, and boost farmer incomes. NOMA is dedicated to improving the skills and
                            livelihoods
                            of smallholder farmers by introducing the SHF to semi-mechanized farming usage that can be
                            easily locally fabricated, ensuring precision, optimizing crop density, reducing input
                            costs, and boosting farmers’ income. </p>

                    </div>
                </div>

                <div class="row">
                    <!-- <div class="col-sm-6">
                            <div class="pq-icon-box pq-style-1">
                                <div class="pq-icon-box-icon">
                                    <i aria-hidden="true" class=" flaticon-sprout"></i>
                                </div>
                                <div class="pq-icon-box-content">
                                    <h4 class="pq-icon-box-content-title">Successful Project</h4>
                                </div>
                            </div>
                        </div> -->

                    <!-- <div class="col-sm-6 mt-4 mt-sm-0">
                            <div class="pq-icon-box pq-style-1">
                                <div class="pq-icon-box-icon">
                                    <i aria-hidden="true" class=" flaticon-ecologist"></i>
                                </div>
                                <div class="pq-icon-box-content">
                                    <h4 class="pq-icon-box-content-title">Community By Community</h4>
                                </div>
                            </div>
                        </div> -->

                    <div class="pq-btn-container mt-2">
                        <a href="{% url 'about_us' %}" class="pq-button pq-button-flat">
                            <span class="pq-button-text">read more</span>
                        </a>
                    </div>
                </div>
            </div>

            <img class="pq-2-bg-image pq-left" src="{% static 'image/service/about-bottom-image-1.png' %}"
                alt="service-image">
        </div>
    </div>
</section>

<!-- our-service -->
{% if whatwedo %}
<section class="our-service pq-bg-gray overflow-hidden pq-bg-expand">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pq-section-title text-center wow fadeInUp">
                    <div class="pq-title">
                        <div class="pq-title-sub-title justify-content-center">
                            <img src="{% static 'image/section-image/group_1727.png' %}" alt="image">
                            <span>What We Do</span>
                        </div>
                        <h5 class="pq-title-hadding">How we break the <span>Circle</span></h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% for item in whatwedo %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="pq-service-box-2-items pq-hover-active wow fadeInUp">
                    <div class="pq-service-box pq-style-1 pq-hover-item pq-active">
                        <div class="pq-service-box-content">
                            <h5 class="pq-service-box-title">{{ item.title }}</h5>
                            <p class="pq-service-box-description">
                                {{ item.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<!-- Counter -->
<section class="counter overflow-hidden pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 pe-lg-5">
                <div class="pq-counter pq-counter-style-1 wow fadeInUp">
                    <div class="pq-counter-info">
                        <div class="pq-counter-num-prefix">
                            <h5 class="pq-count timer" data-count="1500" data-pq-duration="2000">1500</h5>
                            <span class="pq-counter-prefix"></span>

                        </div>
                        <p class="pq-counter-description">Farmers Reached</p>
                    </div>

                    <div class="pq-counter-icon">
                        <i class=" flaticon-land"></i>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0 pe-lg-5">
                <div class="pq-counter pq-counter-style-1 wow fadeInUp">
                    <div class="pq-counter-info">
                        <div class="pq-counter-num-prefix">
                            <h5 class="pq-count timer" data-count="324.62" data-pq-duration="2000">324.62</h5>
                            <span class="pq-counter-prefix">tons</span>

                        </div>
                        <p class="pq-counter-description">Volume Delivered</p>
                    </div>

                    <div class="pq-counter-icon">
                        <i class=" flaticon-corn"></i>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-md-12 mt-5 mt-lg-0 pe-lg-5">
                <div class="pq-counter pq-counter-style-1 wow fadeInUp">
                    <div class="pq-counter-info">
                        <div class="pq-counter-num-prefix">
                            <h5 class="pq-count timer" data-count="420" data-pq-duration="2000">420,624,000</h5>
                            <span class="pq-counter-prefix">Million(₦)</span>

                        </div>
                        <p class="pq-counter-description">Trade Facilitated</p>
                    </div>

                    <div class="pq-counter-icon">
                        <i class=" flaticon-planting"></i>
                    </div>

                </div>
            </div>

            <img class="pq-4-bg-image" src="{% static 'image/background-image/project-bottom-image.png' %}" alt="image">

        </div>
    </div>
</section>

{% if partners %}
<section class="clinet pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pq-client-box-slider pq-style-2">
                    <div class="pq-clint-box-border">
                        <h3 class="pq-client-box-title"><span>Partners - </span>Our Trusted Partners</h3>
                    </div>
                    <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="false" data-desk_num="5"
                        data-lap_num="2" data-tab_num="2" data-mob_num="2" data-mob_sm="1" data-autoplay="false"
                        data-loop="true" data-margin="30">
                        {% for partner in partners %}
                        <div class="item">
                            <div class="pq-client-box pq-style-2">
                                <a href="#">
                                    <img src="{{ partner.logo.url }}" alt="{{ partner.name }}">
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock content %}